head
    title History Map

body
    .container
        +historyShows

template(name='historyShows')
    header
        h1 History media

    each timeUnits
        +timeSlider

    .row
        h2 Year: #{activeYear}
        ul
            each countries
                +country

template(name="timeSlider")
    .row 
        div #{title}
            if isCentury
                span.date.activeDate {{century}}
                span.date {{year}}
            else
                span.date {{century}}
                span.date.activeDate {{year}}
    .row
        .columns.small-12.medium-12
            .range-slider(id='#{title}Slider' 
                data-slider 
                data-options="start: #{start}; end: #{end}; step: 1"
            )
                span.range-slider-handle(role="slider" tabindex="0") 
                    span.slider-label
                        if isCentury
                            {{century}}
                        else
                            {{year}}
                span.range-slider-active-segment


template(name="country")
    li
        h2 #{this}
        ul
            each shows
                +show

template(name="show")
    li #{title} (#{startYear}~#{endYear})
    if isYoutube
        if src
            ul.accordion(data-accordion)
                li.accordion-navigation
                    a(href="#t{{_id._str}}") Watch
                    .content(id="t{{_id._str}}")
                        iframe#ytplayer(type="text/html" width="640" height="390"
                            src="#{src}"
                            frameborder="0"
                        )

