head
    title History Map

body
    .container
        +historyShows

template(name='historyShows')
    header
        h1 History media
    .row
        .columns.small-6.medium-6
            ul.accordion(data-accordion)
                li.accordion-navigation
                    a.map-menu(href="#map") Specific Region
                    .content(id="map")        
                        .map-container 
                            +svgmap


    each timeUnits
        +timeSlider

    .row
        h2 Year: #{activeYear} &nbsp;&nbsp;&nbsp;&nbsp; Region: #{activeRegion}
        ul
            each shows
                +show

template(name="timeSlider")
    .row 
        div #{title}
            if isCentury
                span.date.activeDate #{century}
                span.date #{year}
            else
                span.date #{century}
                span.date.activeDate #{year}
    .row
        .columns.small-12.medium-12
            .range-slider(id='#{title}Slider' 
                data-slider 
                data-options="start: #{start}; end: #{end}; step: 1"
            )
                span.range-slider-handle(role="slider" tabindex="0") 
                    span.slider-label
                        if isCentury 
                            #{century}
                        else 
                            #{year}
                span.range-slider-active-segment

template(name="show")
    li #{title}
        div
            span.subtext (#{startYear}~#{endYear})
            each regions
                span.subtext.region-label #{this}
            
    if isYoutube
         if src
            a.expand Watch
            if expanded
                .video
                    iframe#ytplayer(type="text/html" width="640" height="390"
                        src="#{src}"
                        frameborder="0"
                    )
    hr
   
