head
    title History Map
    link(rel="icon" type="image/svg+xml" href="https://useiconic.com/open-iconic/svg/globe.svg")

body
    .container
        +historyShows

template(name='historyShows')
    +navBar

    .row
        +svgMapTab


    each timeUnits
        +timeSlider

    .row
        h2 Year: #{activeYear} &nbsp;&nbsp;&nbsp;&nbsp; Region: #{activeRegion}
        ul
            each shows
                +show

template(name='navBar')
    nav.top-bar.data-topbar(role="navigation")
        ul.title-area(style='background-color: black')
            li.name
                h1
                    a(href="#") History Map
            li.toggle-topbar.menu-icon
                a(href="#")
                    span Menu
        section.top-bar-section
            ul.right
                li.has-dropdown
                    a(href="#") Contribute
                    ul.dropdown
                        li
                            a(href="https://trello.com/c/fE23ZQiC/20-report-bugs-and-suggest-features") Suggest changes on Trello
                        li
                            a(href="https://github.com/evilseanbot/historymap") Fork on github

template(name='svgMapTab')
    .columns.small-6.medium-6
        ul.accordion(data-accordion)
            li.accordion-navigation
                a.map-menu(href="#map") Specific Region
                .content(id="map")        
                    .map-container 
                        +svgmap

template(name="timeSlider")
    .row 
        div #{title}
            if isCentury
                span.date.activeDate #{century}
                span.date #{year}
            else
                span.date #{century}
                span.date.activeDate #{year}
    .row
        .columns.small-12.medium-12
            .range-slider(id='#{title}Slider' 
                data-slider 
                data-options="start: #{start}; end: #{end}; step: 1"
            )
                span.range-slider-handle(role="slider" tabindex="0") 
                    span.slider-label
                        if isCentury 
                            #{century}
                        else 
                            #{year}
                span.range-slider-active-segment

template(name="show")
    li #{title}
        div
            span.subtext (#{startYear}~#{endYear}) #{difference}
            each regions
                span.subtext.region-label #{this}
    
    +youtube        
    hr

template(name="youtube")
    if isYoutube
         if src
            a.expand Watch
            if expanded
                .video
                    iframe#ytplayer(type="text/html" width="640" height="390"
                        src="#{src}"
                        frameborder="0"
                    )
